doctype html
html(lang="it")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(href="../public/css/bootstrap.min.css" rel="stylesheet")
        script(src="../public/js/bootstrap.bundle.min.js" type="application/javascript")
        title Blog by Daniel Hofman
    body